<div>
  <div class="header gradient">
    <%= image_tag 'cocktail-white.svg', class: 'icon' %>
    <div class="header__title">The drinks searcher</div>
  </div>

  <div class="searcher">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Easy search</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Recommend me ;)</label>
      </div>
    </div>

    <%= form_tag :search_drinks, id: :form do %>
      <div class="simple-form">
        <div class="simple-form__input">
          <input id='search_input' class="form-control form-control-lg" type="text" placeholder="Try a Martini..">
        </div>
        <div class="simple-form__btn">
          <button id="search" type="submit" class="btn btn-outline-primary btn-lg">Search</button>
        </div>
      </div>

      <div class="advanced-form" style="display:none;">
        <div class="simple-form__input">
          <input id='recommend_input'  class="form-control form-control-lg" type="text" placeholder="Try a Beer..">
        </div>
        <div class="simple-form__input">
          <%= label_tag :temperature %>
          <%= select_tag :temperature, options_for_select(Drink.temperatures.map{| k, v_ | [k.humanize, k]}), :prompt => "Select temperature"  %>
        </div>
        <div class="simple-form__input">
          <%= label_tag :ibu %>
          <%= select_tag :ibu, options_for_select((0..10)), :prompt => "Ibu level"  %>
        </div>
        <div class="simple-form__btn">
          <button id="recommend" type="submit" class="btn btn-outline-primary btn-lg">Recommend</button>
        </div>
      </div>
    <% end %>
  </div>

  <div class="drinks-list">
    <% @drinks.each do |drink| %>
      <div class="card drink-card">
        <%= image_tag drink.image_url, class: 'drink-card__img' %>
        <div class="drink-card__body">
          <h2><%= drink.name %></h2>
          <p><%= drink.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
$(function() {
  $('input[type=radio][name=searchRadio]').change(function() {
    if (this.value === 'simple') {
      $('.simple-form').show();
      $('.advanced-form').hide();
    }
    else if (this.value === 'advanced') {
      $('.simple-form').hide();
      $('.advanced-form').show();
    }
  });    
  function append_drink(drink){
    $('.drinks-list').append(
                        `<div class="card drink-card">
                          <img class"drink-card__img" src="${drink.image_url}"></img>
                          <div class="drink-card__body">
                            <h2>${drink.name}</h2>
                            <p>${drink.description}</p>
                          </div>
                        </div>`
                    );
  }
  function fill_drinks_list(data){
    $.each(data, function(index, drink) {
                  append_drink(drink);    
                });
  }
  
  $('#search').click(function(event) {
    event.preventDefault();
    var form = $(this).parents('form:first');
    $.get('drinks/search/?' + 'search=' + $('#search_input').val(), function(data) {
        $('.drinks-list div').remove();
        fill_drinks_list(data);
    });
  });

  $('#recommend').click(function(event) {
    event.preventDefault();
    var form = $(this).parents('form:first');
    $.get('drinks/recommend/?' + 'description=' + $('#recommend_input').val() + '&ibu=' + $('#ibu').val() + '&temperature=' + $('#temperature').val(), function(data) {
        $('.drinks-list div').remove();
        fill_drinks_list(data);
    });
  });
});
</script>
